<div style="font-family: Arial, Helvetica, sans-serif" >
  <div>
    Hello AP Computer Science!
  </div>  

  <p>
    I was able to come across enough access codes for everyone to have an online 
    copy of our classroom text book, "Building Java Programs". You can find the instructions and the redemption
    code below. 
  </p>
  
  <p>
    Your redemption code expires 2020-06-30 after activation with online access that expires 2020-06-30
    after activation for "Building Java Programs." Below are the instructions for using VitalSource Bookshelf on a web browser, 
    computer, or mobile device. 
  </p>
  
  <p>
    To open your book, please follow the appropriate set of instructions given below:
  </p>
  
  <p style="font-weight: bold">
    Your redemption code is: {{ code }}
  </p>

  <p>
    Getting Started by creating a Bookshelf account, go to <a href="http://www.vitalsource.com/redeem">http://www.vitalsource.com/redeem</a>
  </p>

  <p>
    To read your book in Bookshelf for Online, please do the following:
  </p>

  <ul>
    <li>Go to <a href="http://bookshelf.vitalsource.com">http://bookshelf.vitalsource.com</a></li>
    <li>Sign in with your Bookshelf account email address and password.</li>
    <li>Click on the name of the title to open the book.</li>
  </ul>

  <p>
    To open your book in Bookshelf on your computer, you first must have a Bookshelf account, and then do the following:
  </p>

  <ul>
    <li>Download Bookshelf for Mac or PC. <a href="http://www.vitalsource.com/downloads">http://www.vitalsource.com/downloads</a></li>
    <li>Once Bookshelf is installed, launch Bookshelf.</li>
    <li>Sign in with your Bookshelf account email address and password.</li>
    <li>Click on "All Titles" in the collection pane to view all the books in your account.</li>
    <li>Double click on the title to download the book to your computer. Once downloaded, double-click again to open the book.</li>
  </ul>

  <p>
    To open your book in Bookshelf for iOS and Android, you first must have a Bookshelf account, and then do the following:
  </p>

  <ul>
    <li>Download Bookshelf for iOS or Android. <a href="http://www.vitalsource.com/downloads">http://www.vitalsource.com/downloads</a></li>
    <li>Once Bookshelf is installed, launch Bookshelf.</li>
    <li>Sign in with your Bookshelf account email address and password.</li>
    <li>Click on "All Titles" in the collection pane to view all the books in your account.</li>
    <li>Tap on the title to download the book to your mobile device. Once downloaded, double-click again to open the book.</li>
  </ul>
  
  <div>Mr. Rasmussen</div>
  <div>Math and Computer Science Teacher</div>
  <div>Newport High School</div>
</div>
